body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form */

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Buttons */

button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Product Grid */

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Product Card */

.card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.cart {
  margin-top: 30px;
  padding: 15px;
  background: white;
  border-radius: 10px;
}
/* Responsive Design */

/* Tablet */

@media (max-width: 1024px) {

  .products {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* Mobile */

@media (max-width: 600px) {

  .products {
    grid-template-columns: 1fr;
  }

  .form {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 90%;
  }

  button {
    width: 90%;
  }

  .card {
    width: 100%;
  }

}